

body
{
  background-color: #ebecf1;
}

img
{
  width: 200px;
}

h1,h2,h3
{
  color: #025955;
}

hr
{

  border-style: none;
  border-top-style: dotted;
  border-color: #68b0ab;
  border-width: 6px;
  width:25%;
  height:1px;
  background-color:  #ebecf1;
}
